*.log
*.pub
*.pt
.vscode/
vs.code-workspace
__pycache__/
*.out
mask_detection
testing.ipynb
train_reference.py
*.zip
data/
libtorch/
mask-pytorch/
cpptest/
checkpoints/
EfficientNet-PyTorch-master/
setup_macos.txt
models/